# Decision Tree Classifier

In [76]:
import pandas as pd
import numpy as np

In [77]:
data=pd.read_csv("mldata.csv")

In [78]:
data.head()

   age  weight gender likeness   height
0   27    76.0   Male  Biryani  170.688
1   41    70.0   Male  Biryani      165
2   29    80.0   Male  Biryani      171
3   27   102.0   Male  Biryani      173
4   29    67.0   Male  Biryani      164

In [79]:
# convert gender into dummies means 0 and 1 from categorical data 
data["gender"]=data['gender'].replace("Male",1)
data["gender"]=data['gender'].replace("Female",0)

In [80]:
data.head()

   age  weight  gender likeness   height
0   27    76.0       1  Biryani  170.688
1   41    70.0       1  Biryani      165
2   29    80.0       1  Biryani      171
3   27   102.0       1  Biryani      173
4   29    67.0       1  Biryani      164

In [81]:
data.tail()

     age  weight  gender likeness height
240   31    60.0       1   Pakora    160
241   26    70.0       1  Biryani    172
242   40    80.0       1  Biryani    178
243   25    65.0       1  Biryani    5.7
244   33    56.0       0   Samosa    157

In [82]:
# setting input and output variables into X and Y
X=data[['gender','weight']]
Y=data['likeness']

In [83]:
# now set machine learning algorithm
from sklearn.tree import DecisionTreeClassifier
# # create and fit model
model=DecisionTreeClassifier()
model.fit(X,Y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [84]:
# Score
model.score(X,Y)

0.763265306122449

In [100]:
# predictions
model.predict([[0,1]])

array(['Biryani'], dtype=object)

In [86]:
# # now hwo to check the accuracy of a model 
# # by using test_ train split (80-20 rule)
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import accuracy_score
# x_train, y_train, x_test,y_test=train_test_split(X,Y,test_size=0.2)
# model=DecisionTreeClassifier()
# model.fit(x_train,y_train)
# model.predict(x_test)

In [106]:
# how to train and save you model for using later stages
# how to import and run that is your assignment
import joblib
joblib.dump(model,"foodie.joblib")

['foodie.joblib']

In [107]:
# load the model from disk and check the accuracy
loaded_model = joblib.load("foodie.joblib")
result = loaded_model.score(X, Y)
print(result)

0.763265306122449