# K-nearest nieghbour algorithm

In [11]:
import pandas as pd
import numpy as np

In [12]:
df=pd.read_csv("mldata.csv")

In [13]:
df.head()

   age  weight gender likeness   height
0   27    76.0   Male  Biryani  170.688
1   41    70.0   Male  Biryani      165
2   29    80.0   Male  Biryani      171
3   27   102.0   Male  Biryani      173
4   29    67.0   Male  Biryani      164

In [17]:
# convert gender into dummies mean male= 1 and female =0
df["gender"]=df['gender'].replace("Male",1)
df["gender"]=df['gender'].replace("Female",0)

In [49]:
df.head()

   age  weight  gender likeness   height
0   27    76.0       1  Biryani  170.688
1   41    70.0       1  Biryani      165
2   29    80.0       1  Biryani      171
3   27   102.0       1  Biryani      173
4   29    67.0       1  Biryani      164

In [29]:
X=df[['weight','gender']]
Y=df['likeness']

In [33]:
X.head(10)

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1
5    46.0       0
6    64.3       0
7    98.0       1
8    87.5       1
9    80.0       1

In [31]:
Y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [48]:
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=5)
model.fit(X,Y)
model.predict([[68,1]])

array(['Biryani'], dtype=object)

### Now checking the accuracy by using train-test split

In [59]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
x_test,x_train,y_test,y_train= train_test_split(X,Y,test_size=0.2)
model=KNeighborsClassifier()
model.fit(x_train,y_train)
predict_values=model.predict([[50,1]])
predict_values

array(['Biryani'], dtype=object)

In [64]:
score=accuracy_score()
score