# Multiple Linear Regression

In [233]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [234]:
data= pd.read_csv("cars.csv")

In [242]:
data.head()

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105

In [236]:
X=data[["Volume","Weight"]]
Y=data[["CO2"]]

In [237]:
# Splitting the dataset into the Training set and Test set
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [238]:
# Fitting Simple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [239]:
# Model score checking for training data 
regressor.score(X_train,y_train)

0.3625133693867588

In [240]:
# Model score checking for testing data 
regressor.score(X_test,y_test)

0.4061589718966062

In [243]:
# Predicting the result of CO2 of the Car in this the data is too small that's why it give not a good accuracy
regressor.predict([[2300,1300]])

array([[107.58535783]])